.container__fixed-header,h1,ul,li,a{
  background-color: blueviolet;

}
.container__fixed-header{
  display: flex;
  flex-direction: row;
  padding-top: 18px;
  box-shadow: 2px blueviolet;
  margin-top: 5px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 2px rgb(68, 23, 110);
}

.container__fixed-header>h1{
  font-size: 30pt;
  padding-left: 30px;
}
.container__fixed-header>ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 700px;
  list-style: none;


}
.container__fixed-header>ul>li>a{
text-decoration: none;
  text-align: left;
  padding-right: 90px;


}
