<div class="div__master">

  <div class="div__big-card">
<app-big-card
Id="1"
imageBigCard="https://i.pinimg.com/564x/49/e3/94/49e3944c434e17c1af73dcaee236f51a.jpg"
titleBigCard="Novos Episódios De Anéis De Poder Em Breve !"
descriptionBigCard="Confira já o post sobre o lançamento da nova temporada da série de sucesso da Amazon ">
</app-big-card>
  </div>

  <div class="div__smalls-cards" >

    <app-small-card
    Id="2"
    imageSmallCard="https://internacionaldaamazoniacom.files.wordpress.com/2023/06/por-que-o-chatgpt-nao-e-tao-inteligente-quanto-muitos-acreditam.jpg"
    titleSmallCard="Amigo Ou Inimigo Dos Programadores ?"
    descriptionSmallCard="A era das inteligências artificais chegou e temos um novo mundo para explorar."
    ></app-small-card>

<app-small-card
Id="3"
imageSmallCard="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt5a03ed4a7df6ae9f/64f0c4faa119bd6679c0256d/Kane_Fernandes_UCL_GFX.jpg?auto=webp&format=pjpg&width=3840&quality=60"
titleSmallCard="Bayern Vence Na Alemanha"
descriptionSmallCard="O time bávaro garantiu a vitória pelo placar de 4x3 contra os ingleses em um jogo eletrizante , confira."
>
</app-small-card>

<app-small-card
Id="4"
imageSmallCard="https://yt3.googleusercontent.com/ytc/AOPolaQU3vfOh8z4zARVyrheEbgf2Wuq540Mz0f3pcDNIg=s900-c-k-c0x00ffffff-no-rj"
titleSmallCard="Apple Lança Novo Iphone"
descriptionSmallCard="Com câmera de 48 MP, novo lançamento da marca chega trazendo novidades e novas melhorias no sistema."
></app-small-card>



</div>

  </div>
